#include <windows.h>

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "infon.ico"

1 VERSIONINFO
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
     {
         BLOCK "040904E4"
         {
             VALUE "CompanyName", "fw@dividuum.de"
             VALUE "FileVersion", REVISION
             VALUE "FileDescription", "Infon Battle Arena Client"
             VALUE "InternalName", "infon"
             VALUE "LegalCopyright", "GPL"
             VALUE "LegalTrademarks", ""
             VALUE "OriginalFilename", ""
             VALUE "ProductName", "infon"
             VALUE "ProductVersion", REVISION
         }
     }
}
